.homeDescriptionParaContainer {
  /* width: 45%; */
  width: 30%;
  text-align: center;
}

.iconContainerMain {
  /* width: 50%; */
}

.gmailLogo {
  /* height: 200px; */
  /* width: 100%; */
  width: 200px;
  object-fit: cover;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .gmailLogo {
    width: 150px;
  }
}

@media (max-width: 560px) {
  .homeDescriptionParaContainer {
    width: 45%;
  }
  .gmailLogo {
    width: 100px;
  }
}
