*{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', cursive;
}
body{
    background:url("../assets/images/background.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logoContainer{
    background: rgba(189, 121, 76, 0.338);
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.logo{
  
    width: 15%;
 
    
}
.navbar{
    /* background-color:rgba(189, 121, 76, 0.338) ; */
}
.navul{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50px;
}
.navanchor{
    text-decoration: none;
    color: white;
    font-size: 1.2em;


}
li{
    list-style: none;
}
.navanchor:hover{
    transition: 1s;
    text-decoration: underline;
    background-color: rgb(97,77,70);
}