* {
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon", cursive;
}

body {
  background: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo {
  width: 10%;
}

.navbar {
  display: flex;
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  background-color: rgba(17, 25, 40, 0.345);
  align-items: center;
}


.navUl {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navLi {
  list-style: none;
}

.navAnchor {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: 1s;
}

.navAnchor:hover {
  text-decoration: underline;
}
.homeDescriptionContainerMain{
    margin: auto;
    height: 50vh;
    width: 80%;
    /* background-color:rgba(255, 255, 255, 0.29) ; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.homeDescriptionContainer{

    backdrop-filter: blur(12px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%);
    background-color: rgba(17, 25, 40, 0.345);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    
}
.homeDescriptionHeadingContainer{
    margin: 15px;
}
.homeDescriptionHeading
{
    color:#ffffff;
    font-size: 1.7em;
    font-weight: 200;
}
